@model API.Models.PlantOverview

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>PlantOverview</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PlantNameId" class="control-label"></label>
                <input asp-for="PlantNameId" class="form-control" />
                <span asp-validation-for="PlantNameId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MoistureLevel" class="control-label"></label>
                <input asp-for="MoistureLevel" class="form-control" />
                <span asp-validation-for="MoistureLevel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MinWaterLevel" class="control-label"></label>
                <input asp-for="MinWaterLevel" class="form-control" />
                <span asp-validation-for="MinWaterLevel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaxWaterLevel" class="control-label"></label>
                <input asp-for="MaxWaterLevel" class="form-control" />
                <span asp-validation-for="MaxWaterLevel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="sensorId" class="control-label"></label>
                <input asp-for="sensorId" class="form-control" />
                <span asp-validation-for="sensorId" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="CreatedAt" class="control-label"></label>
                <input asp-for="CreatedAt" class="form-control" />
                <span asp-validation-for="CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdatedAt" class="control-label"></label>
                <input asp-for="UpdatedAt" class="form-control" />
                <span asp-validation-for="UpdatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
