@page "/createPlant"

<PageTitle>Create Plant</PageTitle>

<div class="container">
    <h2>Create plant</h2>
    <form action="/">
        <label for="pname">Plante navn:</label><br>
        <input type="text" id="pname" name="pname"><br><br>
        <label for="min">Min moisture in %:</label><br>
        <input type="text" id="min" name="min"><br><br>
        <label for="max">Max moisture in %:</label><br>
        <input type="text" id="max" name="max"><br><br>
        <input type="submit" value="Submit">
    </form>
</div>
