@page "/"
@using Syncfusion.Blazor.Charts
@using Syncfusion.Blazor.Charts.Chart.Internal

<PageTitle>Home</PageTitle>

<h1>Home</h1>

<h1>Hello, world!</h1>

Welcome to your new app.

<SfChart>
    <ChartTitle Text="Line Chart"></ChartTitle>
    <ChartArea BorderWidth="0"></ChartArea>
    <SeriesCollection>
        <LineSeries DataSource="@ChartData" XName="XValue" YName="YValue"></LineSeries>
    </SeriesCollection>
</SfChart>

<h3>Bar Chart</h3>
<SfChart>
    <ChartTitle Text="Bar Chart"></ChartTitle>
    <ChartArea BorderWidth="0"></ChartArea>
    <SeriesCollection>
        <BarSeries DataSource="@ChartData" XName="XValue" YName="YValue"></BarSeries>
    </SeriesCollection>
</SfChart>
