@page "/login"

<PageTitle>Login</PageTitle>

<div class="container">
    <h2>Login</h2>
    <form action="/" method="post">
        <label for="uname">Username or email</label><br>
        <input type="text" id="uname" name="uname" placeholder="Username or email"><br><br>
        <label for="pass">Password:</label><br>
        <input type="password" id="pass" name="pass" placeholder="Password"><br><br>
    </form>
    <input type="submit" value="Login">
</div>
