@page "/login"
@using API;
@using API.Models;
@using BlazorApp.Pages;
@using BlazorApp.Services;
@using BlazorApp.Containers;
@using System.Threading.Tasks
@using Microsoft.AspNetCore.Components.Forms
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration
@inject Microsoft.AspNetCore.Components.NavigationManager NavigationManager

@namespace BlazorApp.Pages

<PageTitle>Login</PageTitle>

<div class="container">

    <h2>Login</h2>
    
    <EditForm Model="@userLogin" OnValidSubmit="HandleLogin">
        
        <div>
            <label for="uname">Username:</label><br>
            <InputText id="uname" @bind-Value="userLogin.Username" placeholder="Username" required />
        </div>

        <div>
            <label for="pass">Password:</label><br>
            <InputText id="pass" @bind-Value="userLogin.Password" type="password" placeholder="Password" required />
        </div>

        <div>
            <input type="submit" value="Login" onclick="@HandleLogin">
        </div>

        <p class="error-message" id="login-error">@errorMessage</p>

    </EditForm>

</div>