@page "/login"
@using System.Threading.Tasks
@using API;
@using API.Models;
@using Microsoft.AspNetCore.Components.Forms
@inject Microsoft.AspNetCore.Components.NavigationManager NavigationManager;
@using BlazorApp.Services;
@using BlazorApp.Containers;
@using BlazorApp.Pages;

<PageTitle>Login</PageTitle>

<div class="container">
    <h2>Login</h2>
    <EditForm Model="@userLogin" OnValidSubmit="HandleLogin">
        <div>
            <label for="uname">Username or email:</label><br>
            <InputText id="uname" @bind-Value="userLogin.username" placeholder="Username or email" required />
        </div>
        <div>
            <label for="pass">Password:</label><br>
            <InputText id="pass" @bind-Value="userLogin.password" type="password" placeholder="Password" required />
        </div>
        <div>
            <input type="submit" value="Login">
        </div>
    </EditForm>
</div>
