@page "/settings"

<PageTitle>Settings</PageTitle>

<h1>Settings</h1>


<div class="container">
    <h2>Edit Profile</h2>
    <form action="/">
        <label for="uname">Username:</label><br>
        <input type="text" id="uname" name="uname" placeholder="Username"><br><br>
        <label for="pass">Password:</label><br>
        <input type="password" id="pass" name="pass" placeholder="Password"><br><br>
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" placeholder="Email"><br><br>

        <div class="d-flex">
            <div class="w-50">
                <p>Auto</p>
                <label class="switch">
                    <input type="checkbox" checked="@IsAutoChecked" @onchange="() => Toggle('a')">
                    <span class="slider round"></span>
                </label>
            </div>
            <div class="w-50">
                <p>Man</p>
                <label class="switch">
                    <input type="checkbox" checked="@IsManualChecked" @onchange="() => Toggle('b')">
                    <span class="slider round"></span>
                </label>
            </div>
        </div><br>
        <input type="submit" value="Submit">
    </form>
</div>

@code {
    private bool IsAutoChecked = true;
    private bool IsManualChecked = false;

    private void Toggle(char switchName)
    {
        if (switchName == 'a' && !IsManualChecked)
        {
            IsAutoChecked = true; // Prevent turning off if manual is already off
        }
        else if (switchName == 'b' && !IsAutoChecked)
        {
            IsManualChecked = true; // Prevent turning off if auto is already off
        }
        if (!IsManualChecked && !IsAutoChecked)
        {
            IsAutoChecked = true;
        }
        else
        {
            IsAutoChecked = !IsAutoChecked;
            IsManualChecked = !IsManualChecked;
        }
    }
}
