@page "/settings"
@using API.Models;
<PageTitle>Settings</PageTitle>

<h1>Settings</h1>


<div class="container">
    <h2>Edit Profile</h2>
    <form action="/">
        <label for="uname">Username:</label><br>
        <input type="text" id="uname" name="uname" placeholder="Username"><br><br>
        <label for="pass">Password:</label><br>
        <input type="password" id="pass" name="pass" placeholder="Password"><br><br>
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" placeholder="Email"><br><br>

        <div class="d-flex">
            <div class="w-50">
                <p>Auto</p>
                <label class="switch">
                    <input type="checkbox" checked="@IsAutoChecked" @* @bind-value="modesate" *@ @onchange="() => Toggle('a')">
                    <span class="slider round"></span>
                </label>
            </div>
            <div class="w-50">
                <p>Man</p>
                <label class="switch">
                    <input type="checkbox" checked="@IsManualChecked" @* @bind-value="modesate" *@ @onchange="() => Toggle('m')">
                    <span class="slider round"></span>
                </label>
            </div>
        </div><br>
        <input type="submit" value="Submit">
    </form>
</div>

@code{
    bool modesate;
    protected override async Task OnInitializedAsync()
    {
        await GetListOfSettings(); 
    }
    private void Selectedmode(Setting settings)
    {
        modesate = settings.AutoMode;
    }
}
