@page "/signup"
@inject Microsoft.AspNetCore.Components.NavigationManager NavigationManager

<PageTitle>Signup</PageTitle>

    
<EditForm Model="@userSignup" OnValidSubmit="@HashPassword">
        
    <div class="container">
        <h2>Signup</h2>
            
            <div>
                <label for="uname">Username:</label><br>
                <InputText required type="text" id="uname" class="form-control" placeholder="Username" @bind-Value="userSignup.Username" /><br><br>
			</div>

            <div>
                <label for="pass">Password:</label><br>
                <InputText required type="password" id="pass" class="form-control" placeholder="Password" @bind-Value="userSignup.Password" /><br><br>
			</div>

            <div>
                <label for="email">Email:</label><br>
                <InputText required type="email" id="email" class="form-control" placeholder="Email" @bind-Value="userSignup.Email" /><br><br>
			</div>

            <div>
                <input type="submit" value="Submit" onclick="@HashPassword">
			</div>

            <p class="error-message" id="login-error">@errorMessage</p>
    </div>
    
</EditForm>

